# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../:\AutoTest\interface_test_auto\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
